<!doctype html>
<html lang="en">

<head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- angular cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
    <!-- connecting javascript file -->
    <script src=app.js></script>
    <style>
        .emptyMessage {
            font-weight: bold;
            color: red;
            font-size: 1.2em;
        }

        li {
            margin-bottom: 7px;
            font-size: 1.2em;
        }

        li>button {
            margin-left: 6px;
        }

        button>span {
            color: green;
        }
    </style>
</head>

<body ng-app="shoppingListApp">
    <div class="container">
        <h1>Shopping List Check Off</h1>
        <div class="row">
            <!-- To Buy List -->
            <div class="col-md-6" ng-controller="toBuyController as toBuy">
                <h2>To Buy:</h2>
                <ul>
                    <li ng-repeat="item in toBuy.toBuyArr">Buy {{item.quantity}} {{item.name}} <button
                            ng-click="toBuy.boughtFunc($index)" class="btn btn-primary"><span
                                class="glyphicon glyphicon-ok"></span> Bought</button></li>
                </ul>
                <div class="emptyMessage" ng-if="toBuy.toBuyArr.length==0">everything is bought</div>
            </div>
            <!-- Already Bought List -->
            <div class="col-md-6" ng-controller="alreadyBoughtController as bought">
                <h2>Already Bought:</h2>
                <ul>
                    <li ng-repeat="item in bought.boughtArr">Bought {{item.quantity}} {{item.name}}</li>
                </ul>
                <div class="emptyMessage" ng-if="bought.boughtArr.length==0">Nothing bought yet</div>
            </div>
        </div>
    </div>
</body>

</html>