<!doctype html>
<html lang="en">

<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- angular cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
    <!-- connecting javascript file -->
    <script src=app.js></script>
</head>

<body ng-app="NarrowItDownApp">
    <div class="container" ng-controller="NarrowItDownController as list">
        <h1 class="mb-3">Narrow Down Your Chinese Menu Choice</h1>
        <div class="form-group">
            <input type="text" placeholder="search term" class="form-control  " ng-model="list.searchTerm">
        </div>
        <div class="form-group narrow-button">
            <button class="btn btn-info m-0  ml-2" ng-click="list.getMatchedMenuItems(list.searchTerm)">Narrow It Down
                For Me!</button>
        </div>
        <!-- found-items should be implemented as a component -->
        <found-items found="list.found" on-remove="list.removeItem(index)"></found-items>
    </div>
</body>

</html>